{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="current_password" name="current_password" placeholder="Enter your current password" type="password" autofocus>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="Enter your new password" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="new_password_confirmation" name="new_password_confirmation" placeholder="Reenter your new password" type="password">
        </div>

        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}